<html>

<head>
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">CAL CALC</a>
            <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
            <!--    <li><a href="about.html">ABOUT US</a></li>-->
            <!--</ul>-->
        </div>
    </nav>

    <div class="wrapper"> </div>
    <div class="container">
        <div class="col l6"></div>
        <!--<div class=""></div>-->
        <h1>Calculate your daily calories below!</h1>
        </a>

        <form action="/cal_intake" <form method="post" action="/cal_intake">
            <div class="container">
                <div class="row">
                    <input type="number" name="weight" placeholder="Enter your weight" autocomplete="off" />
                    <input type="number" name="height" placeholder="Enter your height" autocomplete="off" />
                    <input type="text" name="gender" placeholder="Enter your gender" autocomplete="off" />
                    <input type="number" name="age" placeholder="Enter your age" autocomplete="off" />
                    <input type="submit" value="submit">
                </div>
            </div>
    </div>
    </form>


    <!--<input type="submit" value="Submit" />-->



</body>

</html>
